html {
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}
.form-section {
    font-family: 'Didact Gothic', sans-serif;
    width: 100%;
}
#cotizador {
    font-family: 'Didact Gothic', sans-serif;
    background-color: #eaeff3;
    padding: 12px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-div {
    width: 48%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}
.form-arrows {
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-div:first-of-type div button {
    width: 100% !important;
}
.form-div:first-of-type div button p {
    margin: 0;
}
.form-div:first-of-type div {
    width: 32%;
}
.form-div:first-of-type button {
    width: 32% !important;
}
.form-div div {
    display: flex;
    flex-direction: column;
    width: 48%;
}
#cotizador input {
    font-family: 'Didact Gothic', sans-serif;
    border: none;
    padding: 9px;
    border-radius: 68px;
    width: 100%;
}
#cotizador button {
    border: none;
    padding: 8px;
    border-radius: 68px;
    font-family: 'Didact Gothic', sans-serif;
    width: 48%;
    background-color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#cotizador button p {
    margin: 0;
}
#cotizador button div {
    width: 20px;
    height: 20px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}
#cotizador button i {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
#receive-amount {
    background-color: #cfd9de;
}
#cotizador label {
    margin-bottom: 12px;
}
.today {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
#country-selector {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: -100px;
    left: 0px;
    background-color: #fff;
    padding: 12px 8px;
    border-radius: 12px;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
}
#origin-selector,
#dest-selector {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: -104px;
    right: 0px;
    background-color: #fff;
    padding: 12px 8px;
    border-radius: 12px;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
}
#dest-selector {
    bottom: -140px;
}
#origin-selector button {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#origin-selector button div {
    width: 20px;
    height: 20px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat
}
#origin-selector button p {
    margin: 0;
}
#select-ars,
#select-vef,
#select-cop,
#select-usvef {
    width: 100% !important;
}
#select-uyu div {
    background-image: url('https://tusgiros.io/wp-content/uploads/2023/02/uruguay.png');
}
#select-usd div {
    background-image: url('https://tusgiros.io/wp-content/uploads/2023/02/estados-unidos.png');
}
#select-ars div {
    background-image: url('https://tusgiros.io/wp-content/uploads/2023/02/argentina.png');
}
#select-vef div {
    background-image: url('https://tusgiros.io/wp-content/uploads/2023/02/venezuela.png');
}
#select-cop div {
    background-image: url('https://tusgiros.io/wp-content/uploads/2023/02/colombia.png');
}

#select-uru div {
    background-image: url('https://tusgiros.io/wp-content/uploads/2023/02/uruguay.png');
}
#select-ecu div {
    background-image: url('https://tusgiros.io/wp-content/uploads/2023/02/ecuador.png');
}
#select-usvef div {
    background-image: url('https://tusgiros.io/wp-content/uploads/2023/02/venezuela.png');
}
@media (max-width: 943px) and (min-width: 894px) {
    #dest-region {
        width: 30% !important;
    }
    .sub-div {
        width: 70% !important;
    }
    #dest-selector {
        width: 30%;
    }
}
/*@media (max-width: 746px) {
    .form-div:first-of-type {
        width: 54%;
    }
    .form-div:last-of-type {
        width: 36%;
    }
    label[for="monto-destino"] {
        white-space: nowrap;
    }
}*/
@media (max-width: 731px) {
    #cotizador {
        flex-direction: column;
    }
    .form-div {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }
    .form-div div:nth-child(1) {
        width: 100%;
        margin-top: 4px;
    }
    .form-div div:nth-child(2) {
        width: 50% !important;
    }
    .form-div button {
        width: 100% !important;
        margin-top: 24px;
    }
    .form-div:first-of-type button {
        width: 100% !important;
    }
    button {
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
    button div {
        margin: 0 0 0 12px !important;
        background-position: left center !important;
    }
    .form-arrows {
        margin-top: 24px;
    }
    #country-selector {
        bottom: -3px;
    }
    #origin-selector {
        bottom: -102px;
    }
    #dest-selector {
        bottom: -139px;
    }
    #country {
        margin-bottom: 12px;
        margin-top: 0;
    }
    #country-selector {
        width: 100% !important;
        bottom: -22px;
    }
    .eldeenviar,
    #origin-region,
    .sub-div,
    #dest-region,
    #origin-selector,
    #dest-selector {
        width: 49% !important;
    }
    #origin-selector button,
    #dest-selector button {
        margin: 0px;
    }
    .form-arrows i {
        transform: rotate(90deg);
    }
    #select-uru,
    #select-ecu {
        margin-top: 0;
    }
}